automatization_client:
  caldera_agent: http://127.0.0.1:5000/getStatus
  force_stop_behaviour: False

user:
  is_generator: True
  procrastination_chance: -1
  procrastination_min_time: 30
  procrastination_max_time: 210
  procrastination_preference: 0.5
  phishing_success_chance: 0.5
  user_email: "janko.binconf@gmail.com"
  user_password: "ethmyuouchknwcqo"
  phishing_email: ""
  phishing_password: ""
  forward_email: "samo.slizik@gmail.com"

app:
  sikulix_ide: C:\sikulixide.jar
  roundcube_url: "http://62.197.235.65/roundcube/"
  archive_path: C:\Archive
  template_count: 1

logging:
  version: 1
  formatters:
    simple:
      datefmt: "%Y-%m-%d %H:%M:%S"
      format: "%(asctime)s %(levelname)s: %(message)s"
  handlers:
    console:
      class: logging.StreamHandler
      level: INFO
      formatter: simple
      stream: ext://sys.stdout
    file:
      class: logging.handlers.RotatingFileHandler
      level: INFO
      formatter: simple
      filename: "{{ log_folder }}/logs.log"
      maxBytes: 4153344
      backupCount: 7
  loggers:
    autoconfig:
      level: INFO
      handlers: [console, file]
      propagate: no
  root:
    level: INFO
    handlers: [console]
